<!-- views/findid.ejs -->
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>아이디 찾기</title>
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 만들기 -->
      <div class="shopHeader"><%- include('header.ejs') %></div>

      <h1>아이디 찾기</h1>
      <form action="/user/findid" method="POST">
        <label for="phone">전화번호</label>
        <input type="number" id="phone" name="phone" required />
        <button type="submit">아이디 찾기</button>
      </form>
      <!-- 푸터 -->
      <div class="my_footer"><%- include('footer.ejs') %></div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  </body>
</html>
