<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <title>header</title>
  </head>
  <body>
    <div class="headerContainer">
      <div class="menuToggleBtn" id="menuToggleBtn">
        <i class="fa-solid fa-bars"></i>
      </div>
      <div class="headerLeft">
        <div class="companyName"><a href="#">BAKEZY</a></div>
        <nav class="menuNav">
          <ul>
            <li class="menu-item menuItem" id="store">
              <a href="#">STORES</a>
              <div class="dropdownBackground">
                <div class="dropdownMenu" id="store-menu">
                  <a href="#">SEOUL</a>
                  <a href="#">BUSAN</a>
                  <a href="#">DAEGU</a>
                  <a href="#">JEJU ISLAND</a>
                  <a href="#">OTHER AREAS</a>
                </div>
              </div>
            </li>
            <li class="menu-item menuItem" id="menu">
              <a href="#">MENU</a>
              <div class="dropdownMenu" id="menu-menu">
                <a href="#">CROISSANTS</a>
                <a href="#">BAGUETTES</a>
                <a href="#">DONUTS</a>
                <a href="#">PIES</a>
                <a href="#">CAKES</a>
                <a href="#">COOKIES</a>
                <a href="#">BROWNIES</a>
              </div>
            </li>
            <li class="menu-item menuItem" id="projects">
              <a href="#">BOARD</a>
              <div class="dropdownMenu" id="projects-menu">
                <a href="#">JENNIE COLLAB </a>
                <a href="#">NEWJEANS COLLAB </a>
                <a href="#">SINSA STORE OPEN</a>
                <a href="#">BIRTH CAKE</a>
                <a href="#">PURPOSE CAKE</a>
                <a href="#">SEONGSU STORE OPEN</a>
              </div>
            </li>
            <li class="menu-item" id="sns">
              <a href="#">COMMUNITY</a>
            </li>
          </ul>
        </nav>
      </div>

      <!-- 오른쪽 메뉴바 -->
      <div class="rigntSearchBar">
        <!-- 사이드바 content -->
        <div class="sideBarContent" id="sideBarContent">
          <div class="searchCloseBtn" id="searchCloseBtn">
            <i class="fa-solid fa-xmark"></i>
          </div>
          <br />
          <div class="searchInput">
            &nbsp;<i class="fa-solid fa-magnifying-glass"></i>&nbsp;
            <input type="text" placeholder="SEARCH" />
          </div>
        </div>
        <!-- 사이드바 버튼 -->
        <div class="likeBtn"><i class="fa-regular fa-heart"></i></div>
        <div class="loginBtn"><i class="fa-regular fa-user"></i></div>
        <div class="searchOpenBtn" id="searchOpenBtn">
          <i class="fa-solid fa-magnifying-glass"></i>
          <p>SEARCH</p>
        </div>
        <!-- 오버레이 추가 -->
        <div class="overLay" id="overLay"></div>
      </div>
    </div>

    <!-- 로그인 모달 -->
    <div id="loginModal" class="loginModal" style="display: none">
      <div class="modalContent">
        <span class="loginModalClose" id="closeModal">&times;</span>
        <h2>Login</h2>
        <div class="loginDivWrap">
          <form id="loginForm">
            <div class="modalInputWrap">
              <label for="loginEmail">아이디</label>
              <input
                type="email"
                id="loginEmail"
                required
                placeholder="아이디 입력"
              />
            </div>
            <div class="modalInputWrap">
              <label for="loginPassword">비밀번호</label>
              <input
                type="password"
                id="loginPassword"
                required
                placeholder="비밀번호 입력"
              />
            </div>
            <div class="saveIdCheck">
              <input type="checkbox" id="saveIdCheckbox" /> 아이디 저장
            </div>
            <button class="loginBtnModal">로그인</button>
          </form>
          <div class="btnsModal">
            <div class="modalSignBtn" onclick="goToJoinPage()">회원가입</div>
            &nbsp;|&nbsp;

            <div class="modalLoginBtn" onclick="goToFindIdPage()">
              아이디 찾기
            </div>
            &nbsp;|&nbsp;
            <div class="modalpwButton" onclick="goToFindPasswordPage()">
              비밀번호 찾기
            </div>
          </div>
          <div class="naverLogin">
            <img src="/images/ico_btn_naver.png" />
            <a href="/auth/naver"><span>네이버 로그인</span></a>
          </div>
        </div>
      </div>
    </div>

    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>
