<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Main</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="event-modal" style="display: none">
      <div class="event-content">
        <div>
          <img
            src="/images/bakezyevent.jpg"
            alt="breadevent"
            class="event-image"
          />
        </div>
        <div class="event-buttons">
          <button class="close-button">닫기</button>
          <button class="dismiss-button">오늘 그만 보기</button>
        </div>
      </div>
    </div>
    <div class="allWrapper">
      <!-- 헤더 만들기 -->
      <div class="shopHeader">
        <%- include('header.ejs', { naverClientId: naverClientId,
        naverCallbackUrl: naverCallbackUrl }) %>
      </div>
      <!-- 본문 시작 -->
      <div class="contentMainWrapBox">
        <div>
          <div class="categoryBox"></div>
          <div class="postBtnBox"></div>
          <div class="mainMiddleBox">
            <div class="mainPostsBox"></div>
          </div>
        </div>
        <div class="pagesBox"><div id="pagination"></div></div>
      </div>
      <!-- 푸터 -->
      <div class="my_footer"><%- include('footer.ejs') %></div>
    </div>

    <script src="/js/main.js"></script>
  </body>
</html>
