<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>회원가입</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="/css/sign.css" />
  </head>
  <body>
    <div class="wrapper">
      <!-- 헤더 만들기 -->
      <div class="shopHeader"><%- include('header.ejs') %></div>
      <!-- 본문 시작 -->
      <div class="contentWrapBox">
        <div class="signBox">
          <!-- 아이디 -->
          <div class="labelInputBox emailLabelBox">
            <div class="labelBox">
              <label for="email">아이디</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox emailBox">
                <input
                  type="text"
                  id="email"
                  placeholder="아이디 입력"
                  oninput="emailOninput()"
                  required
                />
                @
                <input
                  type="text"
                  id="customDomain"
                  placeholder="도메인 입력"
                  oninput="emailOninput()"
                />
                <select id="emailDomainSelect" onchange="toggleCustomDomain()">
                  <option value="직접입력">직접 입력</option>
                  <option value="naver.com">naver.com</option>
                  <option value="gmail.com">gmail.com</option>
                  <option value="daum.net">daum.net</option>
                </select>
                <button class="emailCheckBtn" onclick="checkEmail()">
                  중복확인
                </button>
              </div>
              <div class="emailText"></div>
            </div>
          </div>
          <!-- 비밀번호 -->
          <div class="labelInputBox">
            <div class="labelBox pwLabelBox">
              <label for="password">비밀번호</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox passwordBox">
                <input
                  type="password"
                  id="password"
                  placeholder="비밀번호 입력"
                  oninput="passwordOninput()"
                  required
                />
                <div
                  class="togglePassword"
                  onclick="togglePassword('password', 'toggleIcon1')"
                >
                  <span id="toggleIcon1">👁️</span>
                </div>
              </div>
              <div class="passwordText"></div>
            </div>
          </div>
          <!-- 비밀번호 확인 -->
          <div class="labelInputBox">
            <div class="labelBox">
              <label for="confirmPassword">비밀번호 확인</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox passwordBox">
                <input
                  type="password"
                  id="confirmPassword"
                  placeholder="비밀번호 확인"
                  oninput="confirmPasswordOninput()"
                  required
                />
                <div
                  class="togglePassword"
                  onclick="togglePassword('confirmPassword', 'toggleIcon2')"
                >
                  <span id="toggleIcon2">👁️</span>
                </div>
              </div>
              <div class="confirmPasswordText"></div>
            </div>
          </div>
          <!-- 이름 -->
          <div class="labelInputBox nameLabelBox">
            <div class="labelBox">
              <label for="name">이름</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox nameBox">
                <input
                  type="text"
                  id="name"
                  placeholder="이름 입력"
                  oninput="nameOninput()"
                  required
                />
              </div>
              <div class="nameText"></div>
            </div>
          </div>
          <!-- 주소 -->
          <div class="labelInputBox">
            <div class="labelBox">
              <label for="sample6_address">주소</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox addressBox">
                <div class="address-fields">
                  <input
                    type="text"
                    id="sample6_postcode"
                    placeholder="우편번호"
                  />
                  <input
                    type="button"
                    class="findAddress"
                    onclick="sample6_execDaumPostcode()"
                    value="우편번호"
                  />
                </div>
                <div class="address-fields">
                  <input type="text" id="sample6_address" placeholder="주소" />
                  <input
                    type="text"
                    id="sample6_detailAddress"
                    placeholder="상세주소"
                    oninput="addressOninput()"
                  />
                  <input
                    type="text"
                    id="sample6_extraAddress"
                    placeholder="참고항목"
                  />
                </div>
              </div>
            </div>
            <div class="addressText"></div>
          </div>
          <!-- 휴대폰 번호 -->
          <div class="labelInputBox phoneLabelBox">
            <div class="labelBox">
              <label for="phone">전화번호</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox phoneBox">
                <select id="phonePrefix" required>
                  <option value="" disabled selected>선택</option>
                  <option value="010">010</option>
                  <option value="011">011</option>
                  <option value="016">016</option>
                  <option value="017">017</option>
                  <option value="018">018</option>
                  <option value="019">019</option>
                </select>
                -
                <input
                  type="text"
                  id="phoneMiddle"
                  placeholder="1234"
                  required
                  maxlength="4"
                  oninput="phoneOninput()"
                />
                -
                <input
                  type="text"
                  id="phoneLast"
                  placeholder="5678"
                  required
                  maxlength="4"
                  oninput="phoneOninput()"
                />
              </div>
              <div class="phoneText"></div>
            </div>
          </div>

          <!-- 성별 -->
          <div class="labelInputBox genderLabelBox">
            <div class="labelBox">
              <label>성별</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox genderBox">
                <label
                  ><input
                    type="radio"
                    name="gender"
                    value="M"
                    required
                    onchange="genderOninput()"
                  />
                  남성</label
                >
                <label
                  ><input
                    type="radio"
                    name="gender"
                    value="F"
                    required
                    onchange="genderOninput()"
                  />
                  여성</label
                >
                <label
                  ><input
                    type="radio"
                    name="gender"
                    value="O"
                    required
                    onchange="genderOninput()"
                  />
                  기타</label
                >
              </div>
              <div class="genderText"></div>
            </div>
          </div>

          <!-- 생년월일 -->
          <div class="labelInputBox birthLabelBox">
            <div class="labelBox">
              <label>생년월일</label>
            </div>
            <div class="inputWrapBox">
              <div class="inputBox birthBox">
                <select id="birthYear" onchange="birthOninput()" required>
                  <option value="" disabled selected>년도</option>
                </select>
                <select id="birthMonth" onchange="birthOninput()" required>
                  <option value="" disabled selected>월</option>
                </select>
                <select id="birthDay" onchange="birthOninput()" required>
                  <option value="" disabled selected>일</option>
                </select>
              </div>
              <div class="birthText"></div>
            </div>
          </div>
        </div>
        <button class="signBtn" disabled="true">회원가입</button>
        <!-- 본문 끝 -->
      </div>
      <!-- 푸터 -->
      <div class="my_footer"><%- include('footer.ejs') %></div>
    </div>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script src="/js/sign.js"></script>
  </body>
</html>
