/* 기본 설정 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 58px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blackdiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
}
.my_footer {
  margin-top: auto;
  z-index: 100;
}

.contentWrapBox {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.findBoxWrap {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 20px;
}

.findBoxWrap h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.findBoxWrap input {
  width: 75%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  font-size: 12px;
}

.findBoxWrap button {
  width: 80%;
  padding: 10px;
  background-color: #252525;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

.findBoxWrap button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
  opacity: 1;
}

.findBoxWrap input:focus {
  border-color: #000000;
  outline: none;
}

.findBoxWrap p {
  font-size: 12px;
  color: #555;
}

#emailResult {
  font-size: 11px;
  color: red;
  min-height: 15px;
}

/* 비밀번호 수정 폼 (기본적으로 숨겨짐) */
#reset-password-form {
  background-color: white;
  padding: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  text-align: center;
  margin: 20px;
  display: none;
}

#reset-password-form h2 {
  font-size: 20px;
  margin-bottom: 25px;
}

#reset-password-form input {
  width: 75%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  font-size: 12px;
}

#reset-password-form button {
  width: 80%;
  padding: 10px;
  background-color: #252525;
  border: none;
  color: white;
  font-size: 13px;
  cursor: pointer;
}

#reset-password-form p {
  font-size: 12px;
  color: #555;
}

#pwResult {
  font-size: 11px;
  color: red;
}

/* 반응형 디자인 */
@media (max-width: 768px) {
  .findBoxWrap,
  #reset-password-form {
    margin: 20px;
  }

  .findBoxWrap input {
    width: 73%;
  }
}

@media (max-width: 480px) {
  .findBoxWrap h1,
  #reset-password-form h2 {
    font-size: 20px;
  }

  .findBoxWrap label,
  #reset-password-form label,
  .findBoxWrap input,
  #reset-password-form input,
  .findBoxWrap button,
  #reset-password-form button {
    font-size: 13px;
  }
}
.findBoxWrap label {
  font-size: 13px;
  color: #333;
}
#reset-password-form {
  color: #333;
}
label[for="new-password"],
label[for="new-confirm-password"] {
  font-size: 13px;
  color: #333;
}
label {
  display: block;
  margin-bottom: 8px;
}

input {
  margin-bottom: 12px;
}

.pwSameCheck {
  font-size: 11px;
  padding-bottom: 5px;
  width: 100%;
  min-height: 20px;
}

.yourFindEmail {
  padding-top: 15px;
  font-size: 11px;
  color: #333;
}

.newpwCheckText {
  font-size: 11px;
  padding-bottom: 5px;
  width: 100%;
  min-height: 20px;
}
