/* 기본 설정 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 58px;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrapBox {
  flex: 1;
  text-align: center;
}

.my_footer {
  margin-top: auto;
}

/* 모달 로그인 창 */
.btnsModal {
  display: flex;
}

/* 모달 기본 숨김 */
.loginModal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 내부 스타일 */
.modalContent {
  background-color: white;
  padding: 10px 60px 10px 60px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 40px;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
}

.loginModalClose {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

.loginBtnModal {
  width: 100%;
  height: 45px;
  border: 1px solid #d1d1d1;
  color: #fff;
  background-color: black;
  cursor: pointer;
  transition: 0.3s;
  font-weight: bold;
  font-size: 15px;
}
.snsBtns {
  display: flex;
  justify-content: center; /* 양 옆으로 버튼 배치 */
  align-items: center; /* 세로로 중앙 정렬 */
  width: 100%; /* 전체 너비 */
}

.snsBtns .naverLogin,
.snsBtns .kakaoLogin {
  flex: 1; /* 각 버튼에 공간을 균등하게 배분 */
  text-align: center; /* 버튼의 텍스트를 중앙 정렬 */
}

.snsBtns .naverLogin a,
.snsBtns .kakaoLogin a {
  display: inline-block; /* a 태그를 블록처럼 다뤄버리기 */
}

.snsBtns img {
  width: 100%;
  max-width: 200px;
  margin-top: 10px;
  height: 40px;
}
.btnsModal {
  font-weight: bold;
  font-size: 12px;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.naverLogin {
  padding-top: 1px;
}
.kakaoLogin {
  padding-right: 5px;
}

.saveIdCheck {
  display: flex;
  justify-content: left;
}

.loginDivWrap {
  width: 320px;
  padding: 20px;
}

.modalInputWrap {
  margin-bottom: 15px;
}

.modalInputWrap input {
  width: 95%;
  padding: 13px 10px;
  border: 1px solid #ddd;
  margin-top: 10px;
}

.modalInputWrap input:focus {
  outline: none;
  box-shadow: none;
}
.modalInputWrap input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
}

.saveIdCheck {
  display: flex;
  align-items: center;
  font-size: 11px;
  color: #333;
  margin-bottom: 15px;
}

.saveIdCheck input {
  margin-right: 5px;
  cursor: pointer;
}
.modalInputWrap label {
  font-size: 13px;
  margin-bottom: 5px;
  display: block;
  text-align: left;
}
.modalSignBtn,
.modalLoginBtn,
.modalpwButton {
  cursor: pointer;
}
