/* 기본 설정 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  padding-top: 58px;
  width: 100%;
}
.allWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentMainWrapBox {
  flex: 1;
}
.my_footer {
  margin-top: auto;
}

/* 카테고리 이미지 */
.categoryBox {
  width: 100%;
}

.cateAllBox {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

.cateBox {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCate {
  width: 15%;
  padding-left: 20px;
}

.cateImgCircle {
  width: 8.5vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cateImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cateNameBox {
  cursor: pointer;
  text-align: center;
  height: auto;
  min-height: 50px;
}

.cateImg {
  width: 8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.cateImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 100;
}

.cateNameBox {
  font-size: 18px;
}

/* ✅ 반응형 설정 */

@media (max-width: 768px) {
  .cateBox {
    width: 75%;
  }
  .allCate {
    padding-left: 15px;
  }
  .cateImg,
  .cateImgCircle {
    width: 55px;
    height: 55px;
  }
  .cateAllBox {
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
  }
  .cateNameBox {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .cateBox {
    width: 80%;
  }
  .allCate {
    padding-left: 10px;
  }
  .cateImg,
  .cateImgCircle {
    width: 45px;
    height: 45px;
  }
  .cateAllBox {
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
  }
  .cateNameBox {
    font-size: 10px;
  }
}

.likeHeartWrap {
  position: relative;
  z-index: 10;
  color: brown;
}

.postItem {
  position: relative;
  overflow: hidden;
}

.contentHover {
  position: absolute;
  padding: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255);
  border-radius: 15px;
  cursor: pointer;
  color: black;
  display: none;
  z-index: 1;
  font-size: 12px;
  overflow: hidden;
  box-sizing: border-box;
}

.contentHover p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5;
  max-height: calc(1.5em * 10);
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  padding-bottom: 20px;
  word-wrap: break-word;
}

/* 메인 게시물 */
.mainMiddleBox {
  background-color: rgb(255, 242, 227);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 80px;
}

#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}
.pagesBox {
  padding-top: 30px;
}

/*  */
.mainMiddleBox {
  position: relative;
}
#pagination {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
}

.numberBtn {
  all: unset;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: none;
  padding: 0px 5px;
  margin: 0 2px;
  color: inherit;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
}

.numberBtn:hover {
  text-decoration: underline;
  background-color: lightgray;
  color: black;
  border-color: darkgray;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.prev-button,
.next-button {
  font-size: 11px;
  font-weight: bold;
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  padding: 2px 5px;
  margin: 0px 2px;
}

.prev-button:hover,
.next-button:hover {
  background-color: white;
  background-color: lightgray;
  color: black;
  border-color: darkgray;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.mainPostsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  padding: 0 20px;
}

.post {
  margin-bottom: 35px;
}

.post img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  object-fit: cover;
}
.postWrap {
  position: relative;
}
.likeHeartWrap {
  position: absolute;
  bottom: 60px;
  right: 15px;
  cursor: pointer;
}

.postTitle {
  text-align: center;
  padding: 15px 0px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
}

.postBtnBox {
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: flex-end;
  align-items: center;
  border-bottom: 1px solid black;
}

.postBoard {
  font-size: 11px;
  font-weight: bold;
  border: solid 1px black;
  text-align: center;
  border-radius: 50px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 10px;
}
