/* 기본 설정 */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 58px;
  width: 100%;
}
.allWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentMainWrapBox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.my_footer {
  margin-top: auto;
}

/* 카테고리 이미지 */
.categoryBox {
  width: 100%;
}

.cateAllBox {
  width: 100%;
  border-bottom: solid 1px black;
  display: flex;
  justify-content: center;
  padding: 30px 0px 20px 0px;
}

.cateBox {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allCate {
  width: 15%;
  padding-left: 20px;
}

.cateImgCircle {
  width: 8.5vw;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
  position: absolute;
  z-index: 50;
  border: 1px solid black;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.cateImgBox {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.cateNameBox {
  cursor: pointer;
  text-align: center;
  height: auto;
  min-height: 50px;
}

.cateImg {
  width: 8vw;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  overflow: hidden;
}

.cateImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  z-index: 100;
}

.cateNameBox {
  font-size: 18px;
}

/* ✅ 반응형 설정 */

@media (max-width: 768px) {
  .cateBox {
    width: 75%;
  }
  .allCate {
    padding-left: 15px;
  }
  .cateImg,
  .cateImgCircle {
    width: 55px;
    height: 55px;
  }
  .cateAllBox {
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
  }
  .cateNameBox {
    font-size: 13px;
  }
  .mainMiddleBox {
    min-height: unset !important;
  }
  .contentHover {
    font-size: 11px;
  }

  .mainPostsBox {
    padding: 0 30px !important;
  }
}

@media (max-width: 480px) {
  .contentHover {
    font-size: 10px;
  }
  .mainMiddleBox {
    min-height: unset !important;
  }
  .cateBox {
    width: 80%;
  }
  .allCate {
    padding-left: 10px;
  }
  .cateImg,
  .cateImgCircle {
    width: 45px;
    height: 45px;
  }
  .fa-heart2 {
    font-size: 10px;
  }
  .likeHeartWrap {
    bottom: 60px !important;
    right: 13px !important;
  }
  .cateAllBox {
    width: 100%;
    border-bottom: solid 1px black;
    display: flex;
    justify-content: center;
    padding: 20px 0px 10px 0px;
  }
  .cateNameBox {
    font-size: 10px;
  }
  .postTitle span {
    font-size: 10px !important;
  }
  .mainPostsBox {
    padding: 0 15px !important;
  }
}
.likeCount {
  font-size: 13px;
}
.likeHeartWrap {
  position: relative;
  z-index: 10;
  color: brown;
}

.postItem {
  position: relative;
  overflow: hidden;
}

.contentHover {
  position: absolute;
  padding: 45px 30px;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(240, 240, 240);
  border-radius: 15px;
  cursor: pointer;
  color: black;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-out, visibility 0s 0.3s;
  z-index: 1;
  font-size: 12px;
  overflow: hidden;
  box-sizing: border-box;
  height: 100%;
}

.contentHover.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-out, visibility 0s 0s;
}

.contentHover p {
  text-align: center;
  font-size: 13px;
  line-height: 1.5em;
  height: 15em;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  line-clamp: 10;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  word-wrap: break-word;
  box-sizing: border-box;
}

/* 메인 게시물 */
.mainMiddleBox {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  /* padding-bottom: 80px; */
}

.pagesBox {
  padding-top: 30px;
}

/*  */
.mainMiddleBox {
  position: relative;
}
#pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  margin-top: auto;
}
@media (max-width: 768px) {
  #pagination {
    margin-top: 20px;
  }
}

@media (max-width: 480px) {
  #pagination {
    margin-top: 15px;
  }
}
.numberBtn {
  all: unset;
  display: inline-block;
  font-size: 13px;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  padding: 0px 5px;
  margin: 0 2px;
  color: inherit;
}

.numberBtn:hover {
  text-decoration: underline;
}

.prev-button,
.next-button {
  font-size: 12px;
  font-weight: bold;
  padding: 2px 5px;
  margin: 0px 2px;
}

.prev-button:hover,
.next-button:hover {
  text-decoration: underline;
}

.mainPostsBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  width: 100%;
  padding: 0 45px;
}

.post {
  margin-bottom: 35px;
}

.post img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 15px;
  object-fit: cover;
  border: 1px solid rgb(225, 225, 225);
  box-sizing: border-box;
}
.postWrap {
  position: relative;
}
.likeHeartWrap {
  position: absolute;
  bottom: 60px;
  right: 15px;
  cursor: pointer;
}

.postTitle {
  display: -webkit-box;
  padding: 15px 10px;
  color: rgb(0, 0, 0);
  cursor: pointer;
  font-size: 13px;
  line-height: 1.5em;
  overflow: hidden;
  width: 100%;
  max-height: 4em;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-overflow: ellipsis;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #3b3b3b;
}
.postTitle span {
  color: rgb(0, 0, 0);
  font-size: 14px;
}
.postBtnBox {
  width: 100%;
  display: flex;
  height: 50px;
  padding-left: 55px;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(0, 0, 0);
  box-sizing: border-box;
}
.reviewTitle {
  font-weight: bold;
}

.postBoard {
  font-size: 11px;
  font-weight: bold;
  border: solid 1px black;
  text-align: center;
  border-radius: 50px;
  padding: 6px 10px;
  cursor: pointer;
  margin-right: 10px;
}

.postBoard:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  border-color: rgb(0, 0, 0);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}
.noPostsMessage {
  grid-column: span 4;
  text-align: center;
  font-size: 13px;
  padding: 50px;
  color: #555;
}

/* 모달 띄우기 */
.event-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
  z-index: 1000;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 이벤트 창 스타일 */
.event-content {
  background-color: white;
  text-align: center;
  max-width: 400px;
  width: 100%;
}

.event-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  vertical-align: middle;
}

/* 버튼 스타일 */
.event-buttons {
  display: flex;
}
.event-buttons button {
  padding: 15px 20px;
  cursor: pointer;
  font-size: 14px;
  width: 50%;
  font-weight: bold;
}

.close-button {
  /* background-color: #2d2d2d;
  color: white; */
  border: none;
  border: solid 1px black;
}

.dismiss-button {
  border: none;
  border-right: solid 1px black;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
}

@media (max-width: 768px) {
  .mainPostsBox {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 30px !important;
  }
  .contentHover p {
    font-size: 12px;
    height: calc(100% - 20px);
  }
  .contentHover {
    padding: 10px 15px;
  }
}

@media (max-width: 480px) {
  .mainPostsBox {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 15px !important;
  }
  .contentHover p {
    font-size: 11px;
    height: calc(100% - 20px);
  }
  .contentHover {
    padding: 10px 15px;
  }
}

.postItem {
  cursor: pointer;
}
